.playerStyle{
border: 1px solid black;
margin:20px;
padding:20px;
columns: 1 auto;
float:left;
margin-top: 60px;
margin-bottom:10px;
background-color: rgb(161, 174, 149);
}

.playerImg{
height:80px;

}
.btn{
color: red;
background-color:red;
}